<h1 style="font-family: sans-serif">
  Participant instructions
</h1>
<p style="font-family: sans-serif">
  Department for Education  |  ref: NRS/Alpha/Round 4/Exp1A/
</p>
<h4 style="font-family: sans-serif; padding:10px 5px; background-color:black; color:yellow;">
  ***Please read these instructions carefully***
</h4>
<p style="font-family: sans-serif">
  Hello,
</p>
<p style="font-family: sans-serif">
  Many thanks for helping us with our research for the Department for Education.
</p>
<h3 style="font-family: sans-serif">
  When is the research
</h3>
<p style="font-family: sans-serif">
  For most people the research will take place over one day. For 10 people there will be a follow up interview. The research sessions are:
</p>
<ul>
  <li style="font-family: sans-serif">
    <strong>Day 1/xx-xx-xx
    </strong> - get set up (2-5 minutes to complete) and run through the test (45 minutes)
  </li>
  <li style="font-family: sans-serif">
    <strong>Day 2/ Friday 25 January
    </strong> - 10 participants who took part in the research will be asked to take part in a follow-up chat with a researcher (30 minutes)
  </li>
</ul>
<p style="font-family: sans-serif">
  Payment?
</p>
<h3 style="font-family: sans-serif">
  How it works
</h3>
<p style="font-family: sans-serif">
  To take part, you will <strong>need to use a mobile smartphone or tablet
  </strong>. The research session will be recorded through your device.
</p>
<p style="font-family: sans-serif">
  NB: If you laptop or desktop computer, you will need to use a Chrome browser to complete the test. To do this, email <a href="mailto:fergus.roche@digital.education.gov.uk">
    fergus.roche@digital.education.gov.uk<a /> who will walk you through how
    to set that up.
  </p>
<h3 style="font-family: sans-serif">
  Getting started
</h3>
<p style="font-family: sans-serif">
  We're going to capture your feedback through an app that will record your phone screen, face video, and audio.
</p>
<p style="font-family: sans-serif">
  If you are using a smartphone or tablet:
</p>
<ol>
  <li style="font-family: sans-serif">
    Open up this link PUT NEW LINK HERE. When it prompts you to install the Participate App, install it.
  </li>
  <li style="font-family: sans-serif">
    Once the app has downloaded, tap on the above link again. This time, click on the second button that says "Participate."
  </li>
  <li style="font-family: sans-serif">
    Follow the setup steps in the app. Make sure you allow it to access to your mic, screen, and camera please.
  </li>
  <li style="font-family: sans-serif">
    Once you click "Start!" after completing the app setup, complete the research tasks below:
  </li>
</ol>
<h3 style="font-family: sans-serif">
  Tasks to do in the research
</h3>
<p style="font-family: sans-serif">
  We have created an example of what a government service might look like. This one is about retraining to get a new job
</p>
<ul style="margin-bottom: 50px;">
  <li style="font-family: sans-serif">
    Move through the different screens as if this was a service you were interested in
  </li>
  <li style="font-family: sans-serif">
    Check your skills and experience
  </li>
  <li style="font-family: sans-serif">
    Look for some training
  </li>
  <li style="font-family: sans-serif">
    Find a job
  </li>
  <li style="font-family: sans-serif">
    You will be asked some questions part of the way through the test and also at the end
  </li>
</ul>
<a style="font-family: sans-serif;  text-decoration:none; padding: 8px 10px; font-size: 18px; color: white; background-color: blue; border-radius: 3px;" href="https://participate.lookback.io/FXB5jE">
  Start the research
</a>
<h3 style="font-family: sans-serif; margin-top: 50px;">
  When am I done?
</h3>
<li style="font-family: sans-serif">
  To end the session, click on the circular Participate icon (yellow hand) to the side of the screen and hit "End." Then click "Yes! Upload it!"
</li>
<li style="font-family: sans-serif">
  Wait for the screen that shows your uploading progress until it reaches 100% and you see a screen that says "Awesome! Your experience was uploaded!" Please do not immediately quit out of the app, since doing this will prevent the recording
  from uploading.
</li>
<p style="font-family: sans-serif; padding:10px 5px; background-color:#e3e3e3;">
  To access the tasks at any time, or pause the session at any point, you can click on the circular Participate icon (yellow hand) to the side of the screen. This will pause the session. Hit "Resume" to unpause.
</p>
<h3 style="font-family: sans-serif">
  Compensation
</h3>
<p style="font-family: sans-serif">
  As a thank you for taking part in our research, you will be paid:
</p>
?????
<h3 style="font-family: sans-serif">
  What is the research about
</h3>
<p style="font-family: sans-serif">
  You are helping the Government design a new training offer for adults. The Department for Education (DfE) is running research to help them understand how to enable more adults to get better jobs through training. We're looking for adults aged
  24 and above.
</p>
<p style="font-family: sans-serif">
  This is a great opportunity to genuinely influence government policy, and you do not need to have any prior knowledge or recent training experience to take part. We will simply be asking for your views and opinions. In addition, you may be
  asked to try out prototypes of the new service.
</p>
<h3 style="font-family: sans-serif">
  Need help
</h3>
<p style="font-family: sans-serif">
  <strong>1. How do I take part in this research?
  </strong>
</p>
<p style="font-family: sans-serif">
  The test is remote i.e. you need to take part via your mobile smartphone - via an app that you will download. Read the Getting Started section above, and then click on this link: NEW LOOKBACK LINK
</p>
<p style="font-family: sans-serif">
  <strong>
    2. Where is this research taking place?
  </strong>
</p>
<p style="font-family: sans-serif">
  You do not need to go anywhere to take part - you can simply complete the test via your own mobile smartphone. Read the Getting Started section above, and then click on this link: NEW LOOKBACK LINK
</p>
<p style="font-family: sans-serif">
  <strong>
    3. Do I need to download something to complete this test?
  </strong>
</p>
<p style="font-family: sans-serif">
  Yes. You can complete the test on your mobile smartphone (iOS Apple or Android) via an app that you download at the beginning of the test or via Chrome desktop browser i.e. on a laptop. Read the Getting Started section above, and then click
  on this link: NEW LOOKBACK LINK
</p>
<p style="font-family: sans-serif">
  <strong>
    4. How do I get paid?
  </strong>
</p>
<p style="font-family: sans-serif">
  As a thank you for taking part in our research, you will be paid:
</p>
XXXXX
<p style="font-family: sans-serif">
  NB: Compensation will be paid on completion of the research through People For Research via BACS transfer.
</p>
<p style="font-family: sans-serif">
  <strong>
    5. When do I need to get started?
  </strong>
</p>
<p style="font-family: sans-serif">
  Please begin and complete step 1 of the test between 10am - 5pm on Wednesday 5th December 2018.
</p>
<p style="font-family: sans-serif">
  <strong>
    6. I need help, I want to talk to someone
  </strong>
</p>
<p style="font-family: sans-serif">
  If you have any questions or issues with the research, please email the researcher fergus.roche@digital.education.gov.uk who can support you across the research.
</p>
<hr />
<p style="font-family: sans-serif">
  Thanks for getting involved.
</p>
<p style="font-family: sans-serif">
  DfE Research team
</p>
